<form [formGroup]="employeeForm" (ngSubmit)="getEmployeeDetails()">

    <div class="container">
        <div class="mb-3 col-sm-6">
            <label for="" class="col-form-label"> Employee Full Name</label>
            <input type="text" formControlName="employeeName" class="form-control">

            @if (isSubmitted && f['employeeName'].errors) {
            <div class="invalid-feedback">
                @if (f['employeeName'].errors['required']) {
                <div>Employee Full Name is required</div>
                }
            </div>
            }
        </div>
        <div class="mb-3 col-sm-6">
            <label for="" class="col-form-label"> Employee Contact Number</label>
            <input type="text" formControlName="employeeNumber" class="form-control"
             (keypress)="validateContactNumber($event)" minlength=10 maxlength=10>

            @if (isSubmitted && f['employeeNumber'].errors) {
            <div class="invalid-feedback">
                @if (f['employeeNumber'].errors['required']) {
                <div>Employee Contactnumber is required</div>
                }@if (f['employeeNumber'].errors['minlength']) {
                <div>Contact number must be at least 10 characters</div>
                }
            </div>
            }
        </div>

        <div class="mb-3 col-sm-6">
            <label for="" class=" col-form-label"> Employee Address</label>
            <textarea formControlName="employeeAddress" rows="5" cols="10" class="form-control"></textarea>
            @if (isSubmitted && f['employeeAddress'].errors) {
            <div class="invalid-feedback">
                @if (f['employeeAddress'].errors['required']) {
                <div>Employee address is required</div>
                }
            </div>
            }
        </div>
        <div class="mb-3 col-sm-6">
            <label class="col-form-label">Need PF Account</label>

            <input type="radio" id="yes" name="employeeNeedPF" value="yes" formControlName="employeeNeedPF">
            <label for="yes">Yes</label>

            <input type="radio" id="no" name="employeeNeedPF" value="no" formControlName="employeeNeedPF">
            <label for="no">No</label>

            @if (isSubmitted && f['employeeNeedPF'].errors) {
            <div class="invalid-feedback">
                @if (f['employeeNeedPF'].errors['required']) {
                <div>Employee PF is required</div>
                }
            </div>
            }
        </div>

        <div class="mb-3 col-sm-6">
            <label for="employeeTechnology" class="col-form-label">Select Your Specialisation</label>
            <select formControlName="employeeTechnology" class="form-select">
                <option *ngFor="let tech of technologies" [value]="tech">{{tech}}</option>
            </select>

            @if (isSubmitted && f['employeeTechnology'].errors) {
            <div class="invalid-feedback">
                @if (f['employeeTechnology'].errors['required']) {
                <div>Employee technology is required</div>
                }
            </div>
            }
        </div>

        <div class="mb-3 col-sm-6">
            <button class="btn-primary" type="submit"> Submit</button>
            <button class="btn-danger" type="button" (click)="resetForm()"> Reset</button>
        </div>

    </div>
</form>

<div class="container">
    <ag-grid-angular 
		style="width: 100%; height: 500px;" 
		class="ag-theme-quartz"
		[rowData]="employeeArray" 
		[columnDefs]="columnDefs"
        [editType]="'fullRow'"
        (rowEditingStopped)="onRowEditingStopped" >
	</ag-grid-angular>
</div>